section.top-line
	.container
		.inline-layout.col-3
			.text-left
				.contacts-top
					.tel 044 987-65-43
					.ship
						a(href="#") Доставка
			.logo-holder
				img(src="img/icons/jewel-logo.svg", alt="img/icons/jewel-logo.svg")
			.text-right
				.admin-part
					.authorization
						a(href="#") Авторизация
					.basket
						a(href="#") Корзина
							.basket-ico
								img(src="img/icons/shopping.svg", alt="")
								span 5
