section.top-line
	.container
		.inline-layout.col-3
			.text-left
				.contacts-top.inline-layout
					.tel 044 987-65-43
					a.ship(href="#") Доставка
						
			.logo-holder
				.image-holder
					a(href="#")
						img(src="img/icons/jewel-logo.svg", alt="img/icons/jewel-logo.svg")
			.text-right
				.admin-part.inline-layout
					.authorization
						a(href="#") Авторизация
					.basket
						a(href="#") Корзина
							.basket-ico
								img(src="img/icons/shopping.svg", alt="")
								span 5
		.main-nav
			ul.inline-layout
				mixin navItem(text)
					li
						a(href="#")= text
				+navItem('шармы')
				+navItem('подвески')
				+navItem('муранки')
				+navItem('основы')
				+navItem('кольца')
				+navItem('стопперы и защитные цепочки')
				+navItem('кулоны и цепочки')
				+navItem('серьги')
				+navItem('упаковка')
			.search-holder
				.search-btn#search-btn поиск
				.input-holder#input-holder
					input(placeholder="поиск")
					button(type="submit")